/** ESTILOS GENERALES **/
/** Meú navbar **/
@media (min-width: 325px) {
    a.navbar-brand{
        width: 12%;
    }
}

/** Hero Section **/
.hero-image {
    max-height: 400px;
}
@media (max-width: 768px) {
    .hero-image{
        height: 400px;
    }
}

/** Exclusividad **/
.letra_ancha{
    font-weight: bold;
    
}
.exclusive-image{
    height: 400px;
    width: 80%;
}

.cajaSection{
    margin-top: -6.5rem;
}

@media (min-width: 450px) {
    .cajaSection{
        margin-left: 100px;
    }
}