/** ESTILOS GENERALES **/
/** Meú navbar **/
@media (min-width: 325px) {
    a.navbar-brand{
        width: 12%;
    }
}

/** Hero Section **/
.hero-image {
    max-height: 400px;
}

@media (max-width: 768px) {
    .hero-image{
        height: 400px;
    }
}

/** Exclusividad **/
.letra_ancha{
    font-weight: bold;
    
}

.exclusive-image{
    height: 400px;
    width: 80%;
}

.cajaSection{
    margin-top: -6.5rem;
}

@media (min-width: 450px) {
    .cajaSection{
        margin-left: 100px;
    }
}

.margenIzquierdo{
    margin-right: 10%;
}

/** Bienvenidos **/
.bordeButton{
    border:black 1px solid;
}

.morado{
    background-color: #3848d7;
}

.marginTop100{
    margin-top: 100px;
}

.marginLeft300{
    margin-left: 320px;
    margin-bottom: 200px;
}

.positionBienvenidos{
    padding-top: 10%;
}